# Extract, Transform, Load

* Import data on gun violence from Kaggle, on congressional districts from the ProPublica Congress API, and scrape gun lobby donation amounts from OpenSecrets.org
* Transform and clean data
* Create tables in database
* Load data into database tables

## Import Dependencies

In [35]:
import keyring

api_key = keyring.get_password('Geocodio API Key','Geocodio')

from uszipcode import SearchEngine

import requests
import urllib.parse

import pandas as pd
from sqlalchemy import create_engine
import pymysql

## Gun Violence Data

In [86]:
gun_violence = pd.read_csv(r'/Users/seantibbitts/Downloads/gun-violence-data_01-2013_03-2018.csv', encoding='utf-8')

In [87]:
gun_violence.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [89]:
gun_violence.shape

(239677, 29)

In [90]:
gun_violence.columns.tolist()

['incident_id',
 'date',
 'state',
 'city_or_county',
 'address',
 'n_killed',
 'n_injured',
 'incident_url',
 'source_url',
 'incident_url_fields_missing',
 'congressional_district',
 'gun_stolen',
 'gun_type',
 'incident_characteristics',
 'latitude',
 'location_description',
 'longitude',
 'n_guns_involved',
 'notes',
 'participant_age',
 'participant_age_group',
 'participant_gender',
 'participant_name',
 'participant_relationship',
 'participant_status',
 'participant_type',
 'sources',
 'state_house_district',
 'state_senate_district']

In [91]:
# Convert 'date' column to datetime objects
gun_violence['date'] = pd.to_datetime(gun_violence['date'])

In [92]:
gun_violence[gun_violence['date'].dt.year == 2018].shape

(13802, 29)

In [93]:
# Use the uszipcode package to recode the state names to state abbreviations
search = SearchEngine(simple_zipcode=True)

In [94]:
search.by_state('illinois')[0].state_abbr

'IL'

In [95]:
states = gun_violence['state'].unique()

In [96]:
states

array(['Pennsylvania', 'California', 'Ohio', 'Colorado', 'North Carolina',
       'Oklahoma', 'New Mexico', 'Louisiana', 'Maryland', 'Tennessee',
       'Missouri', 'District of Columbia', 'Illinois', 'Delaware', 'Utah',
       'Michigan', 'Georgia', 'Indiana', 'Mississippi', 'New York',
       'Florida', 'Washington', 'South Carolina', 'Arizona', 'Kentucky',
       'New Jersey', 'Virginia', 'Wisconsin', 'Rhode Island', 'Texas',
       'Alabama', 'Kansas', 'Connecticut', 'West Virginia', 'Minnesota',
       'Nevada', 'Nebraska', 'Massachusetts', 'Hawaii', 'New Hampshire',
       'Iowa', 'Alaska', 'Arkansas', 'Idaho', 'Oregon', 'Wyoming',
       'Maine', 'North Dakota', 'Montana', 'Vermont', 'South Dakota'],
      dtype=object)

In [97]:
state_abbrs = [search.by_state(s)[0].state_abbr for s in states]

In [98]:
len(state_abbrs)

51

In [99]:
# Create a dataframe of state names and state abbreviations
state_df = pd.DataFrame({'state':states,'state_abbr':state_abbrs})

In [100]:
# Join to gun violence dataframe
gun_violence2 = pd.merge(gun_violence, state_df, how = 'left')

In [101]:
# Change 'date' column because it is a reserved word in SQL
gun_violence3 = gun_violence2.rename(columns={'date':'incident_date'})

In [102]:
pw = keyring.get_password('Mysql@localhost:3306','root')

In [111]:
mysql = create_engine(f'mysql+pymysql://root:{pw}@localhost:3306/gun_db?charset=utf8')

In [105]:
# Encoding error with MySQL--strip out non-ASCII characters
gun_violence4 = gun_violence3.replace({r'[^\x00-\x7F]+':''}, regex=True)

In [112]:
gun_violence4.to_sql('gun_violence', mysql, if_exists='replace', index = False)

## ProPublica Congress API

In [113]:
ppkey = keyring.get_password('ProPublica Congress API','ProPublica')

In [114]:
headers = {'X-API-Key':ppkey}

In [115]:
ppurl = 'https://api.propublica.org/congress/v1/members/house/{}/{}/current.json'

In [116]:
ppresponse = requests.get(ppurl.format('PA',14), headers=headers)

In [117]:
ppresponse.json()

{'status': 'OK',
 'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
 'results': [{'id': 'R000610',
   'name': 'Guy Reschenthaler',
   'first_name': 'Guy',
   'middle_name': None,
   'last_name': 'Reschenthaler',
   'suffix': None,
   'role': 'Representative',
   'gender': 'M',
   'party': 'R',
   'times_topics_url': None,
   'twitter_id': 'GReschenthaler',
   'facebook_account': None,
   'youtube_id': None,
   'seniority': '2',
   'next_election': '2020',
   'api_uri': 'https://api.propublica.org/congress/v1/members/R000610.json',
   'district': '14',
   'at_large': False}]}

In [118]:
# Create list of tuples containing (deduplicated) states and congressional districts
cong_dists = list(gun_violence2.loc[gun_violence2['congressional_district'].notnull(),['state_abbr','congressional_district']]\
.drop_duplicates().itertuples(index=False, name=None))

In [119]:
# district numbers are floats so cast as integer before sending
ppresponses = [requests.get(ppurl.format(state_abbr,int(district)), headers=headers)
               for state_abbr, district in cong_dists]

In [120]:
ppjson = [(state_district, response.json()) for state_district, response in zip(cong_dists,ppresponses)]

In [122]:
ppjson[:10]

[(('PA', 14.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'R000610',
     'name': 'Guy Reschenthaler',
     'first_name': 'Guy',
     'middle_name': None,
     'last_name': 'Reschenthaler',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'R',
     'times_topics_url': None,
     'twitter_id': 'GReschenthaler',
     'facebook_account': None,
     'youtube_id': None,
     'seniority': '2',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/R000610.json',
     'district': '14',
     'at_large': False}]}),
 (('CA', 43.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'W000187',
     'name': 'Maxine Waters',
     'first_name': 'Maxine',
     'middle_name': None,
     'last_name': 'Waters',
     'suffix': None,
     'role': 'Representative',
     'gender': 'F',
     'party': 'D',
     'times_topics_url': 'http://topics.nytimes.com/top/reference/timestopics/people/w/maxine_waters/index.html',
     'twitter_id': 'RepMaxineWaters',
     'facebook_account': 'MaxineWaters',
     'youtube_id': 'MaxineWaters',
     'seniority': '30',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/W000187.json',
     'district': '43',
     'at_large': False}]}),
 (('OH', 9.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'K000009',
     'name': 'Marcy Kaptur',
     'first_name': 'Marcy',
     'middle_name': None,
     'last_name': 'Kaptur',
     'suffix': None,
     'role': 'Representative',
     'gender': 'F',
     'party': 'D',
     'times_topics_url': 'http://topics.nytimes.com/top/reference/timestopics/people/k/marcy_kaptur/index.html',
     'twitter_id': 'RepMarcyKaptur',
     'facebook_account': 'RepresentativeMarcyKaptur',
     'youtube_id': 'USRepMarcyKaptur',
     'seniority': '38',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/K000009.json',
     'district': '9',
     'at_large': False}]}),
 (('CO', 6.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'C001121',
     'name': 'Jason Crow',
     'first_name': 'Jason',
     'middle_name': None,
     'last_name': 'Crow',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'D',
     'times_topics_url': None,
     'twitter_id': 'RepJasonCrow',
     'facebook_account': None,
     'youtube_id': None,
     'seniority': '2',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/C001121.json',
     'district': '6',
     'at_large': False}]}),
 (('NC', 6.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'W000819',
     'name': 'Mark Walker',
     'first_name': 'Mark',
     'middle_name': '',
     'last_name': 'Walker',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'R',
     'times_topics_url': '',
     'twitter_id': 'RepMarkWalker',
     'facebook_account': None,
     'youtube_id': None,
     'seniority': '6',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/W000819.json',
     'district': '6',
     'at_large': False}]}),
 (('OK', 1.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'H001082',
     'name': 'Kevin Hern',
     'first_name': 'Kevin',
     'middle_name': None,
     'last_name': 'Hern',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'R',
     'times_topics_url': '',
     'twitter_id': 'repkevinhern',
     'facebook_account': None,
     'youtube_id': None,
     'seniority': '4',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/H001082.json',
     'district': '1',
     'at_large': False}]}),
 (('NM', 1.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'H001080',
     'name': 'Debra Haaland',
     'first_name': 'Debra',
     'middle_name': None,
     'last_name': 'Haaland',
     'suffix': None,
     'role': 'Representative',
     'gender': 'F',
     'party': 'D',
     'times_topics_url': None,
     'twitter_id': 'RepDebHaaland',
     'facebook_account': None,
     'youtube_id': None,
     'seniority': '2',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/H001080.json',
     'district': '1',
     'at_large': False}]}),
 (('LA', 2.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'R000588',
     'name': 'Cedric Richmond',
     'first_name': 'Cedric',
     'middle_name': None,
     'last_name': 'Richmond',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'D',
     'times_topics_url': '',
     'twitter_id': 'RepRichmond',
     'facebook_account': 'RepRichmond',
     'youtube_id': 'RepCedricRichmond',
     'seniority': '10',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/R000588.json',
     'district': '2',
     'at_large': False}]}),
 (('CA', 9.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'M001166',
     'name': 'Jerry McNerney',
     'first_name': 'Jerry',
     'middle_name': None,
     'last_name': 'McNerney',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'D',
     'times_topics_url': None,
     'twitter_id': 'RepMcNerney',
     'facebook_account': 'jerrymcnerney',
     'youtube_id': 'RepJerryMcNerney',
     'seniority': '14',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/M001166.json',
     'district': '9',
     'at_large': False}]}),
 (('MD', 7.0),
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': [{'id': 'C000984',
     'name': 'Elijah E. Cummings',
     'first_name': 'Elijah',
     'middle_name': 'E.',
     'last_name': 'Cummings',
     'suffix': None,
     'role': 'Representative',
     'gender': 'M',
     'party': 'D',
     'times_topics_url': None,
     'twitter_id': 'RepCummings',
     'facebook_account': 'elijahcummings',
     'youtube_id': 'ElijahECummings',
     'seniority': '26',
     'next_election': '2020',
     'api_uri': 'https://api.propublica.org/congress/v1/members/C000984.json',
     'district': '7',
     'at_large': False}]})]

In [123]:
cong_dists[56]

('PA', 12.0)

In [124]:
gun_violence2.loc[gun_violence2['congressional_district'].isnull(),'state'].shape

(11944,)

In [125]:
gun_violence2.loc[gun_violence2['congressional_district'].notnull(),'state'].shape

(227733,)

In [126]:
# Some requests returned empty results, or returned an error
[(ix,item[0][0],item[0][1],item[1]) 
 for ix, item in enumerate(ppjson) if not item[1].get('results')]

[(56,
  'PA',
  12.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (198,
  'NJ',
  14.0,
  {'status': 'ERROR',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'errors': [{'error': 'Record not found'}]}),
 (201,
  'NC',
  3.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (341,
  'NC',
  9.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (431,
  'OR',
  9.0,
  {'status': 'ERROR',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'errors': [{'error': 'Record not found'}]}),
 (438,
  'KY',
  8.0,
  {'status': 'ERROR',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'errors': [{'error': 'Record not found'}]}),
 (439,
  'DE',
  4.0,
  {'status': 'ERROR',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'errors': [{'error': 'Record not found'}]}),
 (440,
  'DE',
  0.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (441,
  'WY',
  0.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (442,
  'OR',
  10.0,
  {'status': 'ERROR',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'errors': [{'error': 'Record not found'}]}),
 (443,
  'SD',
  0.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (444,
  'MT',
  0.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (447,
  'ND',
  0.0,
  {'status': 'OK',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'results': []}),
 (448,
  'WV',
  6.0,
  {'status': 'ERROR',
   'copyright': 'Copyright (c) 2019 Pro Publica Inc. All Rights Reserved.',
   'errors': [{'error': 'Record not found'}]})]

In [127]:
# Use a list comprehension to extract state, district and name
state_name = [(item[0][0],item[0][1],item[1]['results'][0]['first_name'],item[1]['results'][0]['last_name'])
              for item in ppjson if item[1].get('results')]

In [128]:
state_name_df = pd.DataFrame(state_name, columns = ['state_abbr','congressional_district',
                                                    'rep_first_name','rep_last_name'])

In [129]:
# Create sequential ID for representatives
state_name_df2 = state_name_df.sort_values(['state_abbr','congressional_district']).reset_index(drop=True)\
.reset_index()

In [130]:
state_name_df3 = state_name_df2.rename(columns={'index':'rep_id'})

In [131]:
state_name_df3.head()

   rep_id state_abbr  congressional_district rep_first_name rep_last_name
0       0         AK                     1.0            Don         Young
1       1         AL                     1.0        Bradley         Byrne
2       2         AL                     2.0         Martha          Roby
3       3         AL                     3.0           Mike        Rogers
4       4         AL                     4.0         Robert      Aderholt

In [132]:
state_name_df3.to_sql('rep_district', mysql, if_exists='replace', index = False)

## Scraping OpenSecrets.org
* OpenSecrets.org rejects pandas read_html from URL only
* Must use splinter to download HTML
* Then use pandas read_html

In [133]:
from splinter import Browser
from bs4 import BeautifulSoup

In [134]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [135]:
# URL to OpenSecrets.org gun lobby donations to House representatives in 2018
gun_url = 'https://www.opensecrets.org/industries/summary.php?ind=Q13&cycle=2018&recipdetail=H' + \
'&sortorder=A&mem=Y&page=1'

In [136]:
browser.visit(gun_url)

In [137]:
html = browser.html

In [138]:
page1_gun_money = pd.read_html(html)

In [139]:
page1_gun_money[0]

                          Candidate    Amount
0            McSally, Martha (R-AZ)  $232,443
1             Scalise, Steve (R-LA)  $124,441
2               Nunes, Devin (R-CA)   $93,763
3          Blackburn, Marsha (R-TN)   $84,423
4                 Ryan, Paul (R-WI)   $62,547
5              Handel, Karen (R-GA)   $58,813
6                  Love, Mia (R-UT)   $49,778
7            Culberson, John (R-TX)   $43,575
8              Barletta, Lou (R-PA)   $41,397
9            Gianforte, Greg (R-MT)   $39,025
10                Hurd, Will (R-TX)   $38,350
11             Cramer, Kevin (R-ND)   $37,096
12            Sessions, Pete (R-TX)   $34,200
13         Comstock, Barbara (R-VA)   $34,089
14              Renacci, Jim (R-OH)   $33,759
15   Rodgers, Cathy McMorris (R-WA)   $30,297
16             Coffman, Mike (R-CO)   $28,085
17          Rothfus, Keith J (R-PA)   $25,875
18           Poliquin, Bruce (R-ME)   $25,500
19           McCarthy, Kevin (R-CA)   $24,300
20              Amodei, Mark (R-NV)   $23,850
21           McClintock, Tom (R-CA)   $23,604
22            Valadao, David (R-CA)   $22,700
23               Mast, Brian (R-FL)   $22,595
24                 Blum, Rod (R-IA)   $22,475
25          Peterson, Collin (D-MN)   $22,400
26               Zeldin, Lee (R-NY)   $22,354
27              Walden, Greg (R-OR)   $21,891
28              Duncan, Jeff (R-SC)   $21,770
29               Kelly, Mike (R-PA)   $21,450
..                              ...       ...
90               Wilson, Joe (R-SC)    $9,250
91           Meadows, Mark R (R-NC)    $9,240
92         Mullin, Markwayne (R-OK)    $9,000
93                Banks, Jim (R-IN)    $8,951
94            Mitchell, Paul (R-MI)    $8,880
95             Carter, Buddy (R-GA)    $8,800
96               Graves, Sam (R-MO)    $8,750
97          Griffith, Morgan (R-VA)    $8,600
98            Stewart, Chris (R-UT)    $8,500
99          Hunter, Duncan D (R-CA)    $8,450
100             Hill, French (R-AR)    $8,350
101          Stefanik, Elise (R-NY)    $8,275
102           Ferguson, Drew (R-GA)    $8,250
103          Hultgren, Randy (R-IL)    $8,000
104              Marino, Tom (R-PA)    $8,000
105         Westerman, Bruce (R-AR)    $8,000
106      Gohmert, Louis B Jr (R-TX)    $7,860
107         Arrington, Jodey (R-TX)    $7,785
108              Gaetz, Matt (R-FL)    $7,700
109          Shimkus, John M (R-IL)    $7,700
110              Olson, Pete (R-TX)    $7,690
111           Goodlatte, Bob (R-VA)    $7,650
112             Babin, Brian (R-TX)    $7,530
113               Brooks, Mo (R-AL)    $7,525
114          Bishop, Sanford (D-GA)    $7,500
115       Diaz-Balart, Mario (R-FL)    $7,500
116            LaMalfa, Doug (R-CA)    $7,350
117              Long, Billy (R-MO)    $7,250
118         McHenry, Patrick (R-NC)    $7,250
119           Graves, Garret (R-LA)    $7,200

[120 rows x 2 columns]

In [140]:
browser.click_link_by_partial_href('&page=2')

In [141]:
html2 = browser.html

In [142]:
page2_gun_money = pd.read_html(html2)

In [143]:
page2_gun_money[0]

                           Candidate  Amount
0              Foxx, Virginia (R-NC)  $7,000
1             Williams, Roger (R-TX)  $7,000
2               Newhouse, Dan (R-WA)  $6,800
3                   Cole, Tom (R-OK)  $6,750
4               Knight, Steve (R-CA)  $6,750
5              Rogers, Mike D (R-AL)  $6,750
6           Fortenberry, Jeff (R-NE)  $6,700
7         Ratcliffe, John Lee (R-TX)  $6,700
8                   Reed, Tom (R-NY)  $6,650
9               Higgins, Clay (R-LA)  $6,500
10                  Kind, Ron (D-WI)  $6,500
11               Wittman, Rob (R-VA)  $6,450
12             Cloud, Michael (R-TX)  $6,200
13              Shuster, Bill (R-PA)  $6,200
14             Collins, Chris (R-NY)  $6,150
15         Fleischmann, Chuck (R-TN)  $6,000
16                Katko, John (R-NY)  $6,000
17            Russell, Steven (R-OK)  $6,000
18             Smucker, Lloyd (R-PA)  $6,000
19               Walker, Mark (R-NC)  $5,800
20              Bergman, John (R-MI)  $5,750
21              Scott, Austin (R-GA)  $5,650
22             Abraham, Ralph (R-LA)  $5,500
23              Johnson, Bill (R-OH)  $5,500
24             Joyce, David P (R-OH)  $5,500
25               Kelly, Trent (R-MS)  $5,500
26              Womack, Steve (R-AR)  $5,500
27               Mooney, Alex (R-WV)  $5,466
28               Woodall, Rob (R-GA)  $5,400
29          Schweikert, David (R-AZ)  $5,350
..                               ...     ...
68  Sensenbrenner, F James Jr (R-WI)  $2,800
69          Turner, Michael R (R-OH)  $2,750
70                   Poe, Ted (R-TX)  $2,250
71           Burgess, Michael (R-TX)  $2,000
72               Comer, James (R-KY)  $2,000
73             Crawford, Rick (R-AR)  $2,000
74               Donovan, Dan (R-NY)  $2,000
75               Garrett, Tom (R-VA)  $2,000
76              Harper, Gregg (R-MS)  $2,000
77             Lucas, Frank D (R-OK)  $2,000
78            Marchant, Kenny (R-TX)  $2,000
79          Pittenger, Robert (R-NC)  $2,000
80                  Rice, Tom (R-SC)  $2,000
81           Rutherford, John (R-FL)  $2,000
82              Simpson, Mike (R-ID)  $2,000
83         Fitzpatrick, Brian (R-PA)  $1,950
84            Webster, Daniel (R-FL)  $1,890
85             Massie, Thomas (R-KY)  $1,250
86              Jenkins, Evan (R-WV)  $1,150
87            Curbelo, Carlos (R-FL)  $1,000
88              Franks, Trent (R-AZ)  $1,000
89      Frelinghuysen, Rodney (R-NJ)  $1,000
90          Gonzalez, Vicente (D-TX)  $1,000
91                Hern, Kevin (R-OK)  $1,000
92            McKinley, David (R-WV)  $1,000
93                Rogers, Hal (R-KY)  $1,000
94              Sanford, Mark (R-SC)  $1,000
95             Lance, Leonard (R-NJ)    $900
96               Rosen, Jacky (D-NV)     $13
97                Wild, Susan (D-PA)     $13

[98 rows x 2 columns]

In [144]:
gun_money = page1_gun_money[0].append(page2_gun_money[0], ignore_index=True)

In [145]:
gun_money.head()

                  Candidate    Amount
0    McSally, Martha (R-AZ)  $232,443
1     Scalise, Steve (R-LA)  $124,441
2       Nunes, Devin (R-CA)   $93,763
3  Blackburn, Marsha (R-TN)   $84,423
4         Ryan, Paul (R-WI)   $62,547

## Clean scraped data

In [146]:
# Strip dollar signs and commas from donation amount
gun_money_amount = gun_money['Amount'].str.replace('[\$,]','').astype(float)

In [147]:
# Split 'Candidate' column on the opening parenthesis
cand_split = gun_money['Candidate'].str.split('\(', expand=True)

In [148]:
# Split the candidate name on the comma
cand_name = cand_split[0].str.split(',', expand=True)

In [149]:
# strip leading/trailing white space from first and last name
cand_name[0] = cand_name[0].str.strip()
cand_name[1] = cand_name[1].str.strip()

In [150]:
# Split the party from the state
state_part_split = cand_split[1].str.split('-', expand=True)

In [151]:
# Remove the closing parenthesis on the state
cand_state = state_part_split[1].str.replace(')','')

In [152]:
# Capture the candidate party
cand_part = state_part_split[0]

In [153]:
# Put them all together in a single dataframe
gun_money_clean = pd.concat([cand_name,cand_part,cand_state,gun_money_amount], axis = 1)

In [154]:
# Rename columns
gun_money_clean.columns = ['rep_last_name','rep_first_name','rep_party','rep_state','Amount']

In [155]:
gun_money_clean.head()

  rep_last_name rep_first_name rep_party rep_state    Amount
0       McSally         Martha         R        AZ  232443.0
1       Scalise          Steve         R        LA  124441.0
2         Nunes          Devin         R        CA   93763.0
3     Blackburn         Marsha         R        TN   84423.0
4          Ryan           Paul         R        WI   62547.0

## Set ID for representatives

In [156]:
state_gun_merge = state_name_df3.merge(gun_money_clean, left_on = ['rep_last_name','state_abbr'],
                    right_on=['rep_last_name','rep_state'])

In [157]:
crit1 = state_gun_merge['rep_first_name_x'] == state_gun_merge['rep_first_name_y']
crit2 = state_gun_merge.apply(lambda x: (x['rep_first_name_x'] in x['rep_first_name_y']) or 
                                      (x['rep_first_name_y'] in x['rep_first_name_x']), axis = 1)

In [158]:
# Set rep_id2 where first names are identical or one is contained in the other
state_gun_merge.loc[crit1 | crit2,'rep_id2'] = state_gun_merge.loc[crit1 | crit2, 'rep_id']

In [159]:
state_gun_merge[state_gun_merge.apply(lambda x: (x['rep_first_name_x'] not in x['rep_first_name_y']) and 
                                      (x['rep_first_name_y'] not in x['rep_first_name_x']), axis = 1)]

,rep_id,state_abbr,congressional_district,rep_first_name_x,rep_last_name,rep_first_name_y,rep_party,rep_state,Amount,rep_id2
31,108,FL,19.0,Francis,Rooney,Tom,R,FL,3000.0,NaN
35,119,GA,3.0,A.,Ferguson,Drew,R,GA,8250.0,NaN
38,129,GA,13.0,David,Scott,Austin,R,GA,5650.0,NaN
42,128,GA,12.0,Rick,Allen,Richard W,R,GA,4075.0,NaN
46,145,IL,7.0,Danny,Davis,Rodney,R,IL,10410.0,NaN
61,174,KY,5.0,Harold,Rogers,Hal,R,KY,1000.0,NaN
69,201,MI,1.0,Jack,Bergman,John,R,MI,5750.0,NaN
113,312,OH,14.0,Dave,Joyce,David P,R,OH,5500.0,NaN
133,361,TX,1.0,Louie,Gohmert,Louis B Jr,R,TX,7860.0,NaN
137,371,TX,11.0,K.,Conaway,Mike,R,TX,12900.0,NaN
139,373,TX,13.0,William,Thornberry,Mac,R,TX,10300.0,NaN
160,427,WI,5.0,F.,Sensenbrenner,F James Jr,R,WI,2800.0,NaN

In [160]:
# Some of the non-matching reps are actual matches; hand-code these
true_match = [42, 61, 69, 113, 133, 137, 139, 160]

In [161]:
state_gun_merge.loc[true_match, 'rep_id2'] = state_gun_merge.loc[true_match, 'rep_id']

In [162]:
# Join rep_id2 back onto gun donation table
rep_w_id = state_gun_merge[['rep_id2','rep_last_name','rep_first_name_y','rep_party','rep_state','Amount']].copy()
rep_w_id2 = rep_w_id.rename(columns={'rep_first_name_y':'rep_first_name'})

In [163]:
gun_w_id = pd.merge(gun_money_clean, rep_w_id2, how = 'left')

In [164]:
# Create rep_id for reps without ID
gun_w_id_sorted = gun_w_id.sort_values(['rep_id2','rep_state','rep_last_name','rep_first_name'])\
.reset_index(drop=True).reset_index()

In [165]:
gun_w_id_sorted['rep_id'] = gun_w_id_sorted['rep_id2'].fillna(gun_w_id_sorted['index'] + 435)

In [166]:
gun_w_id_sorted.head()

,index,rep_last_name,rep_first_name,rep_party,rep_state,Amount,rep_id2,rep_id
0,0,Young,Don,R,AK,14700.0,0.0,0.0
1,1,Byrne,Bradley,R,AL,4000.0,1.0,1.0
2,2,Roby,Martha,R,AL,15750.0,2.0,2.0
3,3,Rogers,Mike D,R,AL,6750.0,3.0,3.0
4,4,Aderholt,Robert B,R,AL,4000.0,4.0,4.0

In [167]:
gun_w_id_final = gun_w_id_sorted.drop(['index','rep_id2'], axis = 1).copy()

In [168]:
gun_w_id_final.head()

  rep_last_name rep_first_name rep_party rep_state   Amount  rep_id
0         Young            Don         R        AK  14700.0     0.0
1         Byrne        Bradley         R        AL   4000.0     1.0
2          Roby         Martha         R        AL  15750.0     2.0
3        Rogers         Mike D         R        AL   6750.0     3.0
4      Aderholt       Robert B         R        AL   4000.0     4.0

In [169]:
gun_w_id_final.to_sql('rep_gun_donations', mysql, if_exists='replace', index = False)